{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="shopping" type="text" class="validate" placeholder="Add an item">
                </div>
            </div>
        </div>
    </div>
    <div class="divider post-load"></div>
    <div class="progress" id="preloader">
        <div class="indeterminate"></div>
    </div>

    <div class="section post-load">
        <ul class="collection" id="shopping-list">
        </ul>
    </div>
</div>
{% endblock %}